/* A4 Spezifisches Seitenlayout */
.page.a4 {
	width: 210mm;
	height: 297mm;
	font-size: 8pt;
}

.page.a4 input {
	font-size: 8pt;
	height: 14pt;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 2px;
}

.page.a4 .printable {
	position: absolute;
	left: 10mm;
	right: 10mm;
	top: 12.5mm;
	bottom: 12.5mm;
}

.page.a4 .rp {
	right: -20mm !important;
}

/* .notizen .value {
	width: 180mm;
	height: 110mm;
}*/