/* Seitennummer */
div.seitennummer {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #333;
	z-index: 30;
}

/* Seitenlayout */
div.page {
	position: relative;
	box-shadow: 0 0 5px #888;
	margin: 10px;
}

/* Allgemeines Layout für Charakter Name, Behinderungen, Attribute, Talente und Vorteile */
.behinderungen,
.attribute,
.talenttyp  {
	border: 0 none;
	padding: 0;
	display: table;
}

.name,
.behinderung,
.attribut,
.talent   {
	display: table-row;
}

.name .label,
.behinderung .label,
.attribut .label,
.talent .label  {
	display: table-cell;
}

.name .value,
.behinderung .value,
.attribut .value,
.talent .value  {
	display: table-cell;
	padding: 0.2em 0;
}

/* Spezifisches Layout für Charakter Name */
.name .value input {
	border: 0px none;
	border-bottom: 1px solid #ccc;
	padding: 0.2em 0;
}

/* Spezifisches Layout für Attribute */
.attribut .value .kaestchenContainer {
	display: table;
	border-collapse: collapse;
}

.attribut .value .kaestchenContainer .kaestchen {
	width: 1.5em;
	height: 1.5em;
	overflow: hidden;
	display: table-cell;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	color: #999;
}

/* Spezifisches Layout für Talente */
.talenttyp > .label {
	font-size: 1.17em;
	color: #333;
	font-weight: bold;
	display: table-row;
}

.talent .value .wert {
	width: 3em;
	text-align: center;
	color: #333;
	padding: 2px 0;
}

.talent .value .bonus {
	border: 0 none;
	width: 2em;
	color: #333;
}

.talent .value .summe {
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 2em;
	width: 1.5em;
	text-align: center;
}

.talent .value .spezialisierung {
	margin-left: 2em;
	height: 1em;
}