/* Seitennummer */
div.seitennummer {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #333;
	z-index: 30;
}

/* Seitenlayout */
div.page {
	position: relative;
	box-shadow: 0 0 5px #888;
	margin: 10px;
}

div.page.a4 {
	width: 210mm;
	height: 297mm;
	font-size: 3mm;
}

div.page.a4 input {
	font-size: 3mm;
}

div.page .printable {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 2cm 1cm;
	overflow: hidden;
}

/* Allgemeines Layout für Charakter Name, Ausrüstung, Attribute, Talente und Vorteile */
fieldset.ausruestung, fieldset.attribute, fieldset.talenttyp  {
	border: 0px none;
	margin: 10px 0px;
	padding: 0px;
}

div.name, div.ausruestung, div.attribut, div.talent   {
	display: table-row;
}

.name.label, .ausruestung.label, .attribut.label, .talent.label  {
	display: table-cell;
	width: 100px;
}

.name.value, .ausruestung.value, .attribut.value, .talent.value  {
	display: table-cell;
	padding: 2px 0px;
}

.ausruestung.value, .attribut.value  {
	margin: 4px;
	display: table;
	border-collapse: collapse;
	margin: 2px 0px;
}

/* Spezifisches Layout für Charakter Name */
.name.value input {
	width: 100mm;
}

/* Spezifisches Layout für Attribute */
.attribut.value .kaestchen {
	width: 16px;
	height: 16px;
	overflow: hidden;
	display: table-cell;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	color: #999;
}

/* Spezifisches Layout für Talente */
.talenttyp.label {
	font-size: 1.17em;
	color: #333;
	font-weight: bold;
	display: block;
}

.talent.value .nummer {
	width: 34px;
	text-align: center;
}