/* Seitennummer */
div.seitennummer {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #333;
	z-index: 30;
}

/* Resourcepunkte */
div.resourcepunkte {
	position: fixed;
	top: 10px;
	left: 80px;
	color: #333;
	z-index: 30;
}

div.resourcepunkte .rp {
	position: relative;
	background: transparent;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #000;
}

/* Seitenlayout */
div.page {
	position: relative;
	box-shadow: 0 0 5px #888;
	margin: 10px;
}

/* Allgemeines Layout für Charakter Name, Behinderungen, Attribute, Talente und Vorteile */
.behinderungen,
.attribute,
.talenttyp  {
	border: 0 none;
	padding: 0;
	display: table;
}

.name,
.behinderung,
.attribut,
.talenttyp-header,
.talent   {
	display: table-row;
}

.name .label,
.behinderung .label,
.attribut .label,
.talenttyp-header .label,
.talent .label  {
	display: table-cell;
}

.name .value,
.behinderung .value,
.attribut .value,
.talenttyp-header .value,
.talent .value  {
	display: table-cell;
	padding: 0.2em 0;
}

/* Spezifisches Layout für Charakter Name */
.name .value input {
	border: 0px none;
	border-bottom: 1px solid #ccc;
	padding: 0.2em 0;
}

/* Spezifisches Layout für Attribute */
.attribut .value {
	position: relative;
}

.attribut .kaestchenContainer {
	position: absolute;
	margin-left: 1.5em;
}

/* Spezifisches Layout für Talente */
.talenttyp > .talenttyp-header > .label {
	font-size: 1.17em;
	color: #333;
	font-weight: bold;
}

.talenttyp .value, .talent .value {
	position: relative;
}

.talent input.label {
	border: 0 none;
	border-bottom: 1px solid #ccc;
	margin-left: -5px;
}

.talent .value .wert {
	width: 3em;
	text-align: center;
	color: #333;
	padding: 2px 0;
}

.talent .value .bonus {
	border: 0 none;
	width: 2em;
	color: #333;
}

.summe {
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 2em;
	width: 1.5em;
	text-align: center;
}

.talent .value .spezialisierung {
	margin-left: 2em;
	height: 1em;
}

.rp {
	position: absolute;
	width: 2em;
	height: 1em;
}

/* Generelles Layout von ResourcePunkt Anzeigen */
.rp {
	border: 0px none;
	text-align: right;
	color: #999;
}